<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="icon" type="image/x-ixon" href="{{ url_for('static', filename='img/icon.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/containers.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ui.css') }}">
    <!-- <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script> -->
	<script src="{{ url_for('static', filename='js/master.js') }}"></script>
	<title>{{ title }} | Three.js test</title>
	<base href=".">
	{% block head %}{% endblock %}
</head>

<body>
{% block body %}{% endblock %}
</body>
</html>
